fastapi
uvicorn[standard]
Flask==2.0.3
fastapi

tensorflow
torch
transformers
scikit-learn

pandas
numpy

matplotlib
seaborn
pillow
pypdf

beautifulsoup4

nltk

python-multipart
psycopg2-binary
requests

pytest==7.2.2

streamlit==1.24.0

langchain
langchain-groq
langchain-community

huggingface-hub