{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro - Avalia Aí</title>
    <link rel="stylesheet" href="{% static 'static/style.css' %}" />
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <h1>Avalia Aí</h1>
            <p>Análise de Produtos com IA</p>
        </div>
        <div class="right-panel">
            <h1>Cadastro</h1>
            <form class="form" action="{% url 'cadastro' %}" method="POST">
                {% csrf_token %}
                <div>
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
