{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Email - {{ user.username }}</title>
    <link rel="stylesheet" href="{% static 'static/style.css' %}" />
</head>
<body>
    <header class="container">
        <section class="left-panel">
            <h1>Editar Email</h1>
            <p>Altere o email do usuário {{ user.username }} ao lado</p>
        </section>
        <main class="right-panel">
            <form method="post" class="form" action="{% url 'edit_user_email' user.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Novo Email:</label>
                    {{ form.username }}
                </div>
                <div class="form-actions">
                    <button type="submit">Salvar Alterações</button>
                </div>
                <p class="back-link">
                    <a href="{% url 'user_list' %}" class="user-list-button">Voltar à Lista de Usuários</a>
                </p>
            </form>
        </main>
    </header>
</body>
</html>
